/* || Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* || Sitewide */
body {
  color: #fff;
  background: #000;
  font-family: "Barlow Semi Condensed";
  margin: 0px;
}

header {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid #111
}

header .header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-right {
  margin-right: 20px;
}

.header-right nav {
  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    font-size: 18px;
    align-self: center;
  }
}

#style1 {
  cursor: pointer;
  border: 2px solid #222;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#style1:hover {
  background-color: #111;
}

#style2 {
  cursor: pointer;
  background-color: #222;
  color: #fff;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid transparent;
}

#style2:hover {
  background-color: #0b0b0b;
  border: 2px solid #222;
  border-radius: 20px;
  color: #ddd;
}

header a {
  color: #fff;
  text-decoration: none;
}

.header-container img {
  height: auto;
  vertical-align: middle;
  transition: all 0.4s ease-in-out;

  @media (max-width: 580px) {
    width: 250px;
  }
}

header button {
  border: 0;
  color: #fff;
  background-color: #000;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  max-height: 40px;
}

header button:hover {
  color: #fff;
  background-color: #222;
}

.burger-menu-icon {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages:not(.home) {
  margin: 0 auto;
  padding-top: 90px;
  /* padding-bottom: 90px;*/
  padding-left: 40px;
  padding-right: 40px;
}

.pages:has(.home) {
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 0px;
  padding-right: 0px;
}

.no-page {
  text-align: center;
  padding-top: 200px;

  a {
    color: #555;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.no-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-page-container h1 {
  position: absolute;
  font-size: 100px;
  margin: 0;
}

#left {
  transform-origin: 50% 50%;
  margin-right: 150px;
}

#right {
  transform-origin: 50% 50%;
  margin-left: 150px;
}

.no-page-container img {
  width: 100px;
  height: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}

::-webkit-scrollbar-thumb:active {
  background: #111;
}

button {
  font-family: "Barlow Semi Condensed";
}



/* || Home */
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../public/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  overflow: hidden;
}

.home h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: normal;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home>* {
  margin-top: 30px;
  background-color: #000;
  border: 2px solid #0b0b0b;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.home>* button {
  font-size: 18px;
}

.home-header {
  display: flex;
  flex-direction: row;
}

.home-header-partial {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header img {
  max-width: 300px;
  transform: translateX(-400px);
}

.home-header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0px;
}

.home-recents-count {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    align-self: center;
  }
}

.home-recents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-count {
  display: flex;
  flex-direction: column;
  gap: 10px;

  b {
    font-size: 2em;
  }
}

.home-recents-images {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}



/* || Collections */
.collections-image-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: center;
  align-items: center
}

.collections-image-grid img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  position: relative;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.collections-image-wrapper {
  position: relative;
  cursor: pointer;

  p {
    text-align: center;
    font-size: 20px;
  }
}

.collections-image-wrapper:hover .image {
  transform: scale(1.1);
  filter: blur(1px) brightness(0.8);
}

.collections-image-wrapper:hover .collections-image-overlay {
  opacity: 1;
}

.collections-image-wrapper:not(:hover) .collections-image-overlay {
  opacity: 0;
}

.collections-image-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  width: calc(100% - 50px);
  height: auto;
}

.collections-image-overlay span {
  font-size: 0.8em;
}



/* || Submissions */
input,
textarea {
  resize: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #111;
  border: none;
  color: #fff;
  font-size: 18px;
  outline: none;
  font-family: "Barlow Semi Condensed";
}

form button {
  border: 0;
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.1s ease-in-out;
}

form.login button:hover,
form.signup button:hover {
  background-color: #333;
  color: #ddd;
  transform: scale(1.03);
  font-size: 19px;
}

div.error {
  padding: 10px;
  background: white;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 0;
}

.form-container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
  margin-bottom: 100px;

  span {
    color: red;
  }

  button {
    margin-top: 50px;
    font-size: 24px;
  }

  button:hover {
    background-color: #333;
    color: #ddd;
    transform: scale(1.03);
  }
}

.form-stacked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 930px) {
    flex-direction: column;
  }
}

.form-stacked>* {
  flex: 1 0 auto;
}

.form-stacked p {
  margin-top: 0;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: 20px;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-checkbox label {
  font-size: 16px;
  flex-grow: 1;
}

#paragraph,
#paragraph-credit {
  height: 200px;
}

input[type="file"] {
  padding: 10px;
  cursor: pointer;
}

::file-selector-button {
  display: none;
}

.option-menu {
  /* position: absolute; */
  word-wrap: break-word;
}

.option-menu-list {
  height: 0;
  opacity: 0;
  transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.option-menu.open .option-menu-list {
  height: auto;
  opacity: 1;
}

.option-menu input {
  cursor: pointer;
}

form.rodent {
  max-width: 80%;
  margin: 0px auto;
  margin-bottom: 0px;
  background: #0b0b0b;
  border-radius: 5px;
}

.form-header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;

  h1 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }
}

.form-info-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.form-info-title div h3 {
  color: #555;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}



/* || Contact */
/* TODO contact*/



/* || Suborders */
.rodent-container {
  text-align: left;
}

.rodent-container h3 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  color: #fff;
}

.rodent-container h3 span {
  font-size: 0.8em;
  color: #484848;
}

.rodent-container ul span {
  font-size: 0.9em;
  color: #484848;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
  justify-content: start;
}

.image-grid img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  aspect-ratio: 1 / 1;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #272727
}

.image-wrapper:hover img {
  transform: scale(1.1);
  filter: blur(2px) brightness(0.8);
}

.image-wrapper:hover .image-overlay {
  opacity: 1;
}

.image-wrapper:not(:hover) .image-overlay {
  opacity: 0;
}

.image-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  width: calc(100% - 20px);
  height: auto;
}

.image-overlay span {
  font-size: 0.8em;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-title h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-title img {
  max-width: 100px;
  height: auto;
  vertical-align: middle;
  filter: drop-shadow(0.6pt 0.6pt 0 white) drop-shadow(-0.5pt -0.5pt 0 white);
}

.no-results {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: #555;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.no-results img {
  max-width: 300px;
  gap: 0px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(50%) blur(0.8px);
}



/* || Image Details */
.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.slideshow-details {
  padding: 20px;
  width: 70%;
  background: #0b0b0b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slideshow-information {
  padding: 20px;
  width: 70%;
  margin-bottom: 50px;
  background: #111;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.slideshow-information hr {
  width: 30%;
}

.slideshow-information b {
  color: #fff;
  font-weight: normal;

  em {
    font-style: normal;
    color: #444;
  }

  span {
    color: #6b6b6b;
  }
}

.slideshow-information h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.slideshow-information h2 {
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}

.slideshow-information-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-taxa {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;

  span {
    font-size: 0.8em;
  }
}

.slideshow-taxa b:nth-child(2) {
  padding-left: 1em;
}

.slideshow-stacked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.slideshow-user {
  display: flex;
  position: sticky;
  width: max-content;
  margin-left: auto;
  gap: 3px;
}

.slideshow-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  b span {
    color: #6b6b6b;
    font-weight: bold;
  }

}

.slideshow-main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  width: 750px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slideshow-image {
  object-fit: contain;
  cursor: zoom-in;
  height: 500px;
  max-width: 100%;
  /* z-index: 1; */
}

.slideshow-image.zoom {
  cursor: zoom-out;
  z-index: 11;
  transform-origin: 50% 50%;
}

.slideshow-button {
  background: none;
  border: none;
  cursor: pointer;
  fill: white;
  height: 50px;
}

.slideshow-thumbnails {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2%;
  gap: 10px;
}

.slideshow-thumbnails img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #272727;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.slideshow-thumbnail-wrapper {
  cursor: pointer;
}

.slideshow-thumbnail-wrapper .active {
  transform: scale(1.2);
}

.slideshow-thumbnail-wrapper:hover img {
  transform: scale(1.2);
}

.copyright-button {
  position: absolute;
  bottom: 5px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.popup-content {
  overflow: hidden;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 13;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.popup-image {
  padding: 20px;
  overflow: hidden;
  cursor: zoom-in;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.popup-image.zoom {
  cursor: zoom-out;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 12;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.popup-close {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  fill: white;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}



/* || Taxa */
.taxa {
  img {
    cursor: pointer;
  }

  h1 {
    font-size: 40px;
    cursor: pointer;
  }
}

.taxa-list {
  margin-left: 50px;

  h3 {
    cursor: pointer;
    font-size: 24px;
  }

  ul {
    font-size: 18px;
    list-style-type: none;

    li {
      cursor: pointer;
      margin-bottom: 5px;
    }

    span {
      margin-left: 10px;
    }
  }
}



/* || Tippy */
/* https://peiche.github.io/tippy.css/ */
[data-tippy]:after,
[data-tippy]:before {
  position: absolute;
  display: block;
  opacity: 0;
  font-family: sans-serif;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 100%;
  left: 50%;
  pointer-events: none
}

[data-tippy]:before {
  content: attr(data-tippy);
  color: #fff;
  font-size: 14px;
  background-color: #000;
  z-index: 1;
  padding: 3px 6px;
  border-radius: 3px;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: 400
}

[data-tippy]:after {
  content: '';
  border: 5px solid transparent;
  border-bottom-color: #000
}

[data-tippy]:hover:after,
[data-tippy]:hover:before {
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}

[data-tippy][data-tippy-pos]:after,
[data-tippy][data-tippy-pos]:before {
  top: auto;
  left: auto;
  margin-top: auto;
  -webkit-transform: none;
  transform: none
}

[data-tippy][data-tippy-pos]:after {
  border-bottom-color: transparent
}

[data-tippy][data-tippy-pos=down]:after,
[data-tippy][data-tippy-pos=down]:before,
[data-tippy][data-tippy-pos=up]:after,
[data-tippy][data-tippy-pos=up]:before {
  left: 50%
}

[data-tippy][data-tippy-pos=up]:after,
[data-tippy][data-tippy-pos=up]:before {
  bottom: 100%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}

[data-tippy][data-tippy-pos=up]:before {
  margin-bottom: 10px
}

[data-tippy][data-tippy-pos=up]:after {
  border-top-color: #000;
  border-bottom-color: transparent
}

[data-tippy][data-tippy-pos=down]:after,
[data-tippy][data-tippy-pos=down]:before {
  top: 100%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}

[data-tippy][data-tippy-pos=down]:before {
  margin-top: 10px
}

[data-tippy][data-tippy-pos=down]:after {
  border-bottom-color: #000;
  border-top-color: transparent
}

[data-tippy][data-tippy-pos=left]:after,
[data-tippy][data-tippy-pos=left]:before,
[data-tippy][data-tippy-pos=right]:after,
[data-tippy][data-tippy-pos=right]:before {
  top: 50%
}

[data-tippy][data-tippy-pos=left]:after,
[data-tippy][data-tippy-pos=left]:before {
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

[data-tippy][data-tippy-pos=left]:before {
  margin-right: 10px
}

[data-tippy][data-tippy-pos=left]:after {
  border-left-color: #000
}

[data-tippy][data-tippy-pos=right]:after,
[data-tippy][data-tippy-pos=right]:before {
  left: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

[data-tippy][data-tippy-pos=right]:before {
  margin-left: 10px
}

[data-tippy][data-tippy-pos=right]:after {
  border-right-color: #000
}

[data-tippy]:hover:after,
[data-tippy]:hover:before {
  opacity: 1
}

[data-tippy][data-tippy-animate]:after,
[data-tippy][data-tippy-animate]:before {
  transition: all .15s ease-out;
  transition-delay: 0s
}

[data-tippy][data-tippy-animate]:hover:after,
[data-tippy][data-tippy-animate]:hover:before {
  transition-delay: .15s
}

[data-tippy][data-tippy-animate=slide]:after,
[data-tippy][data-tippy-animate=slide]:before {
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px)
}

[data-tippy][data-tippy-animate=slide]:hover:after,
[data-tippy][data-tippy-animate=slide]:hover:before {
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}

[data-tippy][data-tippy-pos=up][data-tippy-animate=slide]:after,
[data-tippy][data-tippy-pos=up][data-tippy-animate=slide]:before {
  -webkit-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px)
}

[data-tippy][data-tippy-pos=down][data-tippy-animate=slide]:after,
[data-tippy][data-tippy-pos=down][data-tippy-animate=slide]:before {
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px)
}

[data-tippy][data-tippy-pos=down][data-tippy-animate=slide]:hover:after,
[data-tippy][data-tippy-pos=down][data-tippy-animate=slide]:hover:before,
[data-tippy][data-tippy-pos=up][data-tippy-animate=slide]:hover:after,
[data-tippy][data-tippy-pos=up][data-tippy-animate=slide]:hover:before {
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}

[data-tippy][data-tippy-pos=left][data-tippy-animate=slide]:after,
[data-tippy][data-tippy-pos=left][data-tippy-animate=slide]:before {
  -webkit-transform: translate(10px, -50%);
  transform: translate(10px, -50%)
}

[data-tippy][data-tippy-pos=right][data-tippy-animate=slide]:after,
[data-tippy][data-tippy-pos=right][data-tippy-animate=slide]:before {
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%)
}

[data-tippy][data-tippy-pos=left][data-tippy-animate=slide]:hover:after,
[data-tippy][data-tippy-pos=left][data-tippy-animate=slide]:hover:before,
[data-tippy][data-tippy-pos=right][data-tippy-animate=slide]:hover:after,
[data-tippy][data-tippy-pos=right][data-tippy-animate=slide]:hover:before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

[data-tippy][data-tippy-animate=bubble]:after,
[data-tippy][data-tippy-animate=bubble]:before {
  opacity: 1;
  visibility: hidden
}

[data-tippy][data-tippy-animate=bubble]:hover:after,
[data-tippy][data-tippy-animate=bubble]:hover:before {
  visibility: visible
}

[data-tippy][data-tippy-animate=bubble]:before {
  -webkit-clip-path: circle(10% at 50% 0);
  clip-path: circle(10% at 50% 0)
}

[data-tippy][data-tippy-animate=bubble]:hover:before {
  -webkit-clip-path: circle(100% at 50%);
  clip-path: circle(100% at 50%)
}

[data-tippy][data-tippy-pos=up][data-tippy-animate=bubble]:before {
  -webkit-clip-path: circle(10% at 50% 100%);
  clip-path: circle(10% at 50% 100%)
}

[data-tippy][data-tippy-pos=up][data-tippy-animate=bubble]:hover:before {
  -webkit-clip-path: circle(100% at 50%);
  clip-path: circle(100% at 50%)
}

[data-tippy][data-tippy-pos=down][data-tippy-animate=bubble]:before {
  -webkit-clip-path: circle(10% at 50% 0);
  clip-path: circle(10% at 50% 0)
}

[data-tippy][data-tippy-pos=down][data-tippy-animate=bubble]:hover:before {
  -webkit-clip-path: circle(100% at 50%);
  clip-path: circle(100% at 50%)
}

[data-tippy][data-tippy-pos=left][data-tippy-animate=bubble]:before {
  -webkit-clip-path: circle(10% at 100% 50%);
  clip-path: circle(10% at 100% 50%)
}

[data-tippy][data-tippy-pos=left][data-tippy-animate=bubble]:hover:before {
  -webkit-clip-path: circle(100% at 50%);
  clip-path: circle(100% at 50%)
}

[data-tippy][data-tippy-pos=right][data-tippy-animate=bubble]:before {
  -webkit-clip-path: circle(10% at 0 50%);
  clip-path: circle(10% at 0 50%)
}

[data-tippy][data-tippy-pos=right][data-tippy-animate=bubble]:hover:before {
  -webkit-clip-path: circle(100% at 50%);
  clip-path: circle(100% at 50%)
}

[data-tippy][data-tippy-visible]:after,
[data-tippy][data-tippy-visible]:before {
  opacity: 1;
  visibility: visible
}

[data-tippy][data-tippy-size=tiny]:before {
  font-size: 10px
}

[data-tippy][data-tippy-size=small]:before {
  font-size: 12px
}

[data-tippy][data-tippy-size=large]:before {
  font-size: 16px
}

[data-tippy][data-tippy-size=jumbo]:before {
  font-size: 20px
}



/* || Authentication */
form.signup,
form.login {
  max-width: 400px;
  margin: 0px auto;
  margin-bottom: 0px;
  padding: 20px;
  background: #111;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

form img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
}

form h1 {
  text-align: center;
}

form a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

form a:hover {
  text-decoration: underline;
}

.form-input-boxes {
  display: flex;
  flex-direction: column;
}

.form-input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.form-input-box input {
  position: relative;
  width: 100%;
  background: #0b0b0b;
  border: 2px solid transparent;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.form-input-box i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.form-input-box input:focus~i,
.form-input-box input:valid~i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.form-input-box input:focus {
  border: 2px solid #fff;
}

.redirect-box {
  max-width: 400px;
  margin: 40px auto;
  margin-top: 0px;
  padding: 20px;
  background: #222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;

  a {
    color: #555;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}



/* || Dividers */
/* Dashed border */
hr.dashed {
  border-top: 3px dashed #222;
  max-width: 90%;
}

/* Dotted border */
hr.dotted {
  border: 3px dotted #222;
  max-width: 90%;
}

/* Solid border */
hr.solid {
  border: 3px solid #222;
  max-width: 90%;
}

/* Rounded border */
hr.rounded {
  border: 3px solid #222;
  border-radius: 5px;
  max-width: 90%;
}